{% extends "@layout/default.html.twig" %}

{% block title %}Meetups{% endblock %}

{% block content %}
    {% if session.isLoggedInUserOrganizer() %}
        <p><a href="{{ path("schedule_meetup") }}" class="btn btn-success">Schedule meetup</a></p>
    {% endif %}

    <h1>Upcoming meetups</h1>

    <div class="upcoming-meetups">
    {% for meetup in upcomingMeetups %}
        {% include "@app/_meetup.html.twig" with { meetup: meetup } %}
    {% else %}
        <p>No upcoming meetups</p>
    {% endfor %}
    </div>

    <h1>Past meetups</h1>

    <div class="past-meetups">
    {% for meetup in pastMeetups %}
        {% include "@app/_meetup.html.twig" with { meetup: meetup } %}
    {% else %}
        <p>No past meetups</p>
    {% endfor %}
    </div>
{% endblock %}
