parameters:
    level: max
    paths:
        - config/
        - public/
        - src/
        - utils/
        - update-schema.php
    checkMissingIterableValueType: false

services:
	-
		class: "Utils\\PHPStan\\ContainerGetReturnTypeExtension"
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
