parameters:
    level: max
    paths:
        - config/
        - public/
        - src/
        - test/
        - utils/
    checkMissingIterableValueType: false

services:
	-
		class: "Utils\\PHPStan\\ContainerGetReturnTypeExtension"
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

includes:
    - phpstan-baseline.neon
