{% extends "@layout/default.html.twig" %}

{% block title %}Organizers{% endblock %}

{% block content %}
    <h1>Organizers</h1>

    {% if organizers is empty %}
    <p>There are no organizers</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr><th>Name</th><th>Actions</th></tr>
            </thead>
            <tbody>
        {% for organizer in organizers %}
            <tr class="organizer">
                <td>{{ organizer.name }}</td>
                <td>
                    <a class="btn btn-primary create-invoice" href="{{ path('create_invoice', { organizerId: organizer.id }) }}">Create invoice</a>
                    <a class="btn btn-primary list-invoices" href="{{ path('list_invoices', { organizerId: organizer.id }) }}">List invoices</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
