{% for type, flashes in allFlashes %}
    <div class="flash-messages">
    {% for message in flashes %}
        <div class="alert alert-{{ type }} flash-message">
            {{ message }}
        </div>
    {%  endfor %}
    </div>
{% endfor %}
